/* Base Styles */
body {
    margin: 0;
    background-color: #101117;
}

* {
    box-sizing: border-box;
}

.searchbar {
    display: flex;
    width: auto;
    height: 7rem;
    background: #101117;
}

.logo {
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 328px;
    height: 80px;
}

.searchbar input[type="text"] {
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 90px;
    width: 480px;
    height: 49px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
}

.searchbar .search {
    margin-left: 10px;
    margin-top: 40px;
    width: 3.5rem;
    height: 49px;
    border-radius: 4px;
    background-color: white;
}

.user {
    margin-top: 40px;
    margin-left: 100px;
    width: 43px;
    height: 43px;
}

.cart {
    margin-top: 40px;
    margin-left: 45px;
    height: 49px;
    left: 1200px;
}

.language {
    margin-top: 40px;
    margin-left: 45px;
    width: 46px;
    height: 46px;
}

.navigationbar {
    display: flex;
    margin-top: 20px;
    width: 1368px;
    height: 60px;
    background: #1A1A1A;
    border-radius: 20px;
}

ul {
    padding-left: 130px;
}

li {
    margin-top: 10px;
    margin-right: 155px;
    font-family: 'Inder';
    font-size: 24px;
    color: #FFFFFF;
    display: inline-block;
}

a {
    color: #FFFFFF;
}

.banner {
    margin-top: 40px;
    margin-left: 120px;
    width: 1300px;
    height: 550px;
}

.contactlogo {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1240px;
    top: 880px;
}

.category h3 {
    margin-top: 100px;
    margin-left: 600px;
    width: 224px;
    height: 50px;
    font-family: 'Arbutus';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.category .categroy-img {
    margin-top: 60px;
    margin-left: 110px;
    display: inline;
}

.categroy-img img {
    margin-right: 120px;
}

.category ul {
    top: 1200px;
    margin-left: 30px;
    overflow: hidden;
}

.category li {
    font-family: 'Inder';
    font-size: 26px;
    margin-right: 210px;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
}

.bestsellers h3 {
    margin-bottom: 100px;
    margin-left: 450px;
    width: 500px;
    height: 50px;
    font-family: 'Arbutus';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.bestsellers {
    padding-top: 50px;
    padding-left: 160px;
    width: 100%;
    white-space: nowrap;
}

.items-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-shrink: 0;
    margin-top: auto;
}

.bestsellers .item {
    justify-content: space-between;
    display: inline-block;
    margin-right: 32px;
    width: 16.625rem;
    height: 28rem;
    flex-shrink: 0;
    background: linear-gradient(180deg, #E6E5E5 0%, #FFFFFF 100%);
    border-radius: 10px;
}

.bestsellers .item img {
    margin-top: 45px;
    padding-left: 18px;
    width: 15rem;
    height: 10rem;
}

.item h6 {
    display: left;
    margin-top: 25px;
    margin-bottom: 0;
    padding-left: 15px;
    font-family: 'Inter';
    color: #000;
    font-size: 1.125rem;
    font-weight: 500;
}

.item .price {
    display: left;
    margin-top: 70px;
    padding-left: 15px;
    color: #3F2A74;
    font-family: 'Inter', sans-serif;
    font-size: 1.375rem;
    font-weight: 800;
}

.item .stock {
    margin-top: 40px;
    margin-left: 200px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 200;
}

.bestsellers .viewall {
    display: left;
    margin-top: 50px;
    padding-left: 545px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration-line: underline;
}

.FeaturedCollection h3 {
    margin-bottom: 80px;
    margin-left: 350px;
    width: 500px;
    height: 50px;
    font-family: 'Arbutus';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.FeaturedCollection {
    margin-top: 100px;
    padding-left: 160px;
    width: 100%;
    white-space: nowrap;
}

.FeaturedCollection .item {
    justify-content: space-between;
    display: inline-block;
    margin-right: 32px;
    width: 16.625rem;
    height: 28rem;
    flex-shrink: 0;
    background: linear-gradient(180deg, #E6E5E5 0%, #FFFFFF 100%);
    border-radius: 10px;
}

.FeaturedCollection .item img {
    margin-top: 45px;
    padding-left: 18px;
    width: 15rem;
    height: 10rem;
}

.item .price {
    display: left;
    margin-top: 70px;
    padding-left: 15px;
    color: #3F2A74;
    font-family: 'Inter', sans-serif;
    font-size: 1.375rem;
    font-weight: 800;
}

.item .stock {
    margin-top: 40px;
    margin-left: 200px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 200;
}

.viewall {
    display: left;
    margin-top: 50px;
    padding-left: 545px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration-line: underline;
}

.LatestReview h3 {
    margin-top: 100px;
    margin-left: 580px;
    width: 500px;
    height: 50px;
    font-family: 'Arbutus';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.comments {
    margin-top: 50px;
    margin-left: 230px;
    top: 3040px;
}

.comments img {
    padding-top: 10px;
}

.rating h3 {
    margin-top: 80px;
    margin-left: 550px;
    width: 500px;
    height: 50px;
    font-family: 'Arbutus';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.rating img {
    margin-top: 50px;
    margin-left: 230px;
}

.giftcard h3 {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 600px;
    width: 500px;
    height: 50px;
    font-family: 'Arbutus';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.card {
    display: flex;
    margin-left: 220px;
}

.giftcard p {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 1.875em;
    font-style: normal;
    font-weight: 500;
}

.giftcard img {
    margin-left: 150px;
    width: 19.5625rem;
    height: 19rem;
}

.giftcard .showmore-button {
    margin-top: 30px;
    width: 18rem;
    height: 3.75rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #072865;
    display: flex;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.footer {
    display: center;
    padding-top: 100px;
}

.icons {
    margin-top: 100px;
    margin-left: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-shrink: 0;
}

.icons img {
    padding-left: 120px;
}

.icons p {
    margin-top: 30px;
    margin-left: 100px;
    color: #F5F5F5;
    font-family: Inder;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-us,
.services {
    display: flex;
}

.about-us img,
.services img {
    margin-left: 980px;
    margin-top: 95px;
    width: 2rem;
    height: 2rem;
}

.footer-section h3 {
    padding-left: 120px;
    margin-top: 80px;
    color: #F5F5F5;
    font-family: Inder;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe {
    display: center;
}

.subscribe h2 {
    text-align: center;
    margin-top: 130px;
    font-family: 'Arbutus';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.subscribe p {
    text-align: center;
    margin-top: 40px;
    color: #F5F5F5;
    font-family: Inder;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe input {
    margin-left: 28%;
    display: flex;
    justify-content: center;
    color: #B8B8B8;
    font-family: Inder;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 0.75rem;
    width: 40.875rem;
    height: 3.75rem;
}

.subscribe button {
    margin-left: 41%;
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inder;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.75rem;
    display: inline-flex;
    height: 3.75rem;
    padding: 2rem 4rem 2rem 4rem;
    align-items: center;
    flex-shrink: 0;
}

.footer-section p {
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    color: #F5F5F5;
    font-family: Inder;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social,
.payment {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.social img,
.payment img {
    margin: 0 10px;
}

/* Media Queries for iPhone 12 Pro (390px wide) */
@media screen and (max-width: 390px) {
    .searchbar {
        flex-direction: column;
        align-items: center;
    }

    .searchbar input[type="text"], .searchbar .search, .user, .cart, .language {
        margin: 10px 0;
        width: 90%;
    }

    .navigationbar {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    ul {
        padding-left: 0;
        text-align: center;
    }

    li {
        margin: 10px 0;
    }

    .banner, .category, .bestsellers, .FeaturedCollection, .LatestReview, .giftcard, .rating {
        margin: 20px 0;
        padding: 0 10px;
    }

    .form-container {
        width: 90%;
        margin: 20px auto;
    }

    .subscribe input, .subscribe button {
        width: 90%;
        margin: 10px auto;
    }
}

/* Media Queries for Surface Pro 7 (1368px wide) */
@media screen and (max-width: 1368px) {
    .searchbar {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .searchbar input[type="text"], .searchbar .search, .user, .cart, .language {
        margin: 10px 0;
        width: 45%;
    }

    .navigationbar {
        width: 100%;
        height: auto;
    }

    ul {
        padding-left: 0;
        text-align: center;
    }

    li {
        margin: 10px 5px;
    }

    .banner, .category, .bestsellers, .FeaturedCollection, .LatestReview, .giftcard, .rating {
        margin: 20px 0;
        padding: 0 10px;
    }

    .form-container {
        width: 90%;
        margin: 20px auto;
    }

    .subscribe input, .subscribe button {
        width: 90%;
        margin: 10px auto;
    }
}
