body{
    margin: 0;
    background-color: #101117;
}


* {box-sizing: border-box;}

.searchbar{
    margin:0;
    position: absolute;

    height: 126px;
    background: #252525;

}

.logo{
position: absolute;
width: 328px;
height: 80px;
left: 60px;
top: 24px;

background: url(shoptitle_300x@2x.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


.searchbar input[type=text]{

box-sizing: border-box;

position: absolute;
width: 512px;
height: 49px;
left: 470px;
top: 43px;

background: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 2px;

}

.user{
position: absolute;
width: 43px;
height: 43px;
left: 1100px;
top: 46px;

background: url(user.png);
}

.cart{
position: absolute;
width: 48px;
height: 49px;
left: 1200px;
top: 43px;

}


.language{
position: absolute;
width: 46px;
height: 46px;
left: 1300px;
top: 46px;

background: url(world.png);
}

.search icon{
position: absolute;
width: 39px;
height: 35px;
left: 1000px;
top: 51px;

background: url(image.png), url(image.png), url(image.png), url(image.png), url(image.png);

}

.navigationbar{
margin:0;
position: absolute;
width: 1433px;
height: 60px;
left: 11px;
top: 126px;

background: #1A1A1A;
border-radius: 20px;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    font-family: 'Inder';
    font-size: 24px ;
    color: #FFFFFF;    
    display: inline-block;
    text-align: center;
    padding: 20px 95px;  

}

.banner{
position: absolute;
width: 1300px;
height: 550px;
left: 123px;
top: 240px;

background: url(image.png);

}

.contactlogo{
position: absolute;
width: 200px;
height: 200px;
left: 1240px;
top: 880px;
}

.category h3{
position: absolute;
width: 224px;
height: 50px;
left: 640px;
top: 860px;

font-family: 'Arbutus';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;

color: #FFFFFF;
}
.category img{
    margin-top: 980px;
    margin-left: 132px;
    
}
.category ul {
    margin: 0;
    top: 1200px;
    margin-left: 80px;
    padding: 0;
    overflow: hidden;
}

.category li{
    font-family: 'Inder';
    font-size: 24px ;
    margin-right: 57px;
    color: #FFFFFF;    
    display: inline-block;
    text-align: center;

}
