body{
    margin: 0;
    background-color: #101117;
}


* {box-sizing: border-box;}

.searchbar{
    position: absolute;

    height: 126px;
    background: #252525;

}

.logo{
position: absolute;
width: 328px;
height: 80px;
left: 60px;
top: 24px;

background: url(shoptitle_300x@2x.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


.searchbar input[type=text]{

box-sizing: border-box;

position: absolute;
width: 512px;
height: 49px;
left: 470px;
top: 43px;

background: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 2px;

}

.user{
position: absolute;
width: 43px;
height: 43px;
left: 1100px;
top: 46px;

background: url(user.png);
}

.cart{
position: absolute;
width: 48px;
height: 49px;
left: 1200px;
top: 43px;

}


.language{
position: absolute;
width: 46px;
height: 46px;
left: 1300px;
top: 46px;

background: url(world.png);
}

.search icon{
position: absolute;
width: 39px;
height: 35px;
left: 1000px;
top: 51px;

background: url(image.png), url(image.png), url(image.png), url(image.png), url(image.png);

}

.navigationbar{
margin:0;
position: absolute;
width: 1433px;
height: 60px;
left: 15px;
top: 126px;

background: #1A1A1A;
border-radius: 20px;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    font-family: 'Inder';
    font-size: 24px ;
    margin-left: 10px;
    color: #FFFFFF;    
    display: inline-block;
    text-align: center;
    padding: 16px 90px;  

}

.banner{
position: absolute;
width: 1300px;
height: 550px;
left: 124px;
top: 240px;

background: url(image.png);

}

.contactlogo{
position: absolute;
width: 200px;
height: 200px;
left: 1240px;
top: 880px;
}

.category h3{
position: absolute;
width: 224px;
height: 50px;
left: 640px;
top: 860px;

font-family: 'Arbutus';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;

color: #FFFFFF;
}
.category img{
    padding-top: 980px;
    padding-left: 132px;
    
}
.category ul {
    top: 1200px;
    margin-left: 80px;
    overflow: hidden;
}

.category li{
    font-family: 'Inder';
    font-size: 26px ;
    margin-right: 60px;
    color: #FFFFFF;    
    display: inline-block;
    text-align: center;

}

.bestsellers h3{
    position: absolute;
    width: 500px;
    height: 50px;
    left: 600px;
    top: 1320px;
    
    font-family: 'Arbutus';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    }

    .bestsellers {
        padding-top: 220px;
        padding-left: 160px;
        width: 100%;
  
        white-space: nowrap;
    }
    
    .items-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-shrink: 0;
        margin-top: auto;
       
    }


    .bestsellers .item {
        justify-content: space-between;
        display: inline-block;
        margin-right:32px;
        width: 16.625rem;
        height: 28rem;
        flex-shrink: 0;
        background: linear-gradient(180deg, #E6E5E5 0%, #FFFFFF 100%);
        border-radius: 10px;
       
    }
    
    
    .bestsellers .item img { 
    margin-top:45px;
    padding-left:18px;
    width: 15rem;
    height: 10rem;

    }
    
    .item h6 {
    display:left;
    margin-top:25px;
    margin-bottom: 0;
    padding-left: 15px;
    font-family: 'Inter';
    color: #000;
    font-size: 1.125rem;
    font-weight: 500;
    }

    .item .price {
        display:left;
        margin-top:70px;
        padding-left: 15px;
        color: #3F2A74;
        font-family: 'Inter', sans-serif;
        font-size: 1.375rem;
        font-weight: 800;
    }
    
    .item .stock {
        margin-top:40px;
        margin-left: 200px;
        color: #000;
        font-family: 'Inter', sans-serif;
        font-size: 0.75rem;
        font-weight: 200;
    }

    .bestsellers .viewall{
        display: left;
        margin-top: 50px;
        padding-left: 545px;
        color:#FFFFFF;
        font-family: 'Inter', sans-serif;
        font-size: 1.25rem;
        font-weight: 400;
        text-decoration-line: underline;
    }

    .FeaturedCollection h3{
        position: absolute;
        width: 500px;
        height: 50px;
        left: 510px;
        top: 2050px;
        
        font-family: 'Arbutus';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        color: #FFFFFF;
    }

.FeaturedCollection{
    padding-top: 200px;
        padding-left: 160px;
        width: 100%;
  
        white-space: nowrap;
}

.items-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-shrink: 0;
    margin-top: auto;
   
}


.FeaturedCollection .item {
    justify-content: space-between;
    display: inline-block;
    margin-right:32px;
    width: 16.625rem;
    height: 28rem;
    flex-shrink: 0;
    background: linear-gradient(180deg, #E6E5E5 0%, #FFFFFF 100%);
    border-radius: 10px;
   
}


.FeaturedCollection .item img { 
margin-top:45px;
padding-left:18px;
width: 15rem;
height: 10rem;

}

.item .price {
    display:left;
    margin-top:70px;
    padding-left: 15px;
    color: #3F2A74;
    font-family: 'Inter', sans-serif;
    font-size: 1.375rem;
    font-weight: 800;
}

.item .stock {
    margin-top:40px;
    margin-left: 200px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 200;
}
 .viewall{
    display: left;
    margin-top: 50px;
    padding-left: 545px;
    color:#FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration-line: underline;
}
.LatestReview h3{
    position: absolute;
    width: 500px;
    height: 50px;
    left: 575px;
    top: 2800px;
    
    font-family: 'Arbutus';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;


}
.comments{
    margin-top: 200px;
    margin-left: 230px;
    top: 3040px;
}
.comments img{
    padding-top: 10px;
}

.rating h3{
    position: absolute;
    width: 500px;
    height: 50px;
    left: 575px;
    top: 3780px;
    
    font-family: 'Arbutus';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;

}
.rating img{
    margin-top: 150px;
    margin-left:230px;

}
.giftcard h3{
    position: absolute;
    width: 500px;
    height: 50px;
    left: 615px;
    top: 4200px;
    
    font-family: 'Arbutus';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;

}
.giftcard p{
    position: absolute;
    top:4350px;
    left:230px;
    color: #F5F5F5;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
}

.giftcard img{
    position: absolute;
    top:4380px;
    left:930px;
    width: 19.5625rem;
    height: 19.5625rem;

}
  .giftcard .button {
        position: absolute;
        top: 4560px;
        left: 230px;
        width: 18rem;
        height: 3.75rem;
        flex-shrink: 0;
        border-radius: 0.3125rem;
        background: #072865;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        color: white;
        }
.footer{
    display:center;
    padding-top: 600px;
        
}
.icons{
    margin-top:100px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-shrink: 0;

}
.icons img{
    padding-left:150px;
}
.icons p{
    
    margin-top: 30px;
    margin-left:130px;
    color: #F5F5F5;
    font-family: Inder;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}
.footer-section h3{
    padding-left:120px;
    margin-top: 80px;
    color: #F5F5F5;
    font-family: Inder;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.subscribe{
    display:center;
}

.subscribe h2{
    text-align: center;
    margin-top: 130px;
    font-family: 'Arbutus';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;

}
.subscribe p{
    text-align: center;
    margin-top: 40px;
    color: #F5F5F5;
    text-align: center;
    font-family: Inder;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe input{
    margin-left: 28%;
    display: flex;
    justify-content: center;
    color: #B8B8B8;
    font-family: Inder;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 0.75rem; 
    width: 40.875rem;
    height: 3.75rem;

}
.subscribe button{
    margin-left: 41%;
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Inder;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.75rem; 
    display: inline-flex;
    height: 3.75rem;
    padding: 2rem 4rem 2rem 4rem;
    align-items: center;
    flex-shrink: 0;

}
.footer-section p {
    margin-left: 20px;
    margin-top: 50px;
    text-align: center;
    color: #F5F5F5;
    font-family: Inder;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.social, .payment {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.social img, .payment img {
    margin: 0 10px;
}
.footer-section .plus{
    width:2rem;
    margin-left: 1200px;


}